@import "../../index.scss";

.skillsContainer {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  text-align: center;

  .skillsContent {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 10px;
    @include breakpoints(mobile) {
      width: 80%;
    }
    h2 {
      font-size: 35px;
    }
  }
  .skills {
    display: flex;
    justify-content: space-between;
    .skillsCard-content {
      width: 40%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      cursor: pointer;
      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      @include breakpoints(mobile) {
        width: 48%;
      }
      p {
        color: grey;
      }
    }
  }
}
