@import "../../index.scss";

.navbar-container {
  background-color: #e4e5e8cf;
  padding: 20px;

  position: sticky;
  left: 0;
  right: 0;
  top: 0;

  .navbar-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    @include breakpoints(mobile) {
      flex-direction: column;
    }

    .logo-container {
      display: flex;
      @include breakpoints(mobile) {
        width: 100%;
        justify-content: space-between;
      }
    }

    ul {
      display: flex;
      gap: 20px;
      align-items: center;
      @include breakpoints(mobile) {
        width: 100%;
        flex-direction: column;
        transition: all 0.5s;
        position: absolute;
        left: -100%;
        top: 62px;
        padding: 15px 0px;
      }
      li {
        &:hover {
          color: $mainColor;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
    .show {
      @include breakpoints(mobile) {
        transition: all 0.5s;
        background-color: #e4e5e8cf;
        position: absolute;
        left: 0;
        top: 74px;
        padding: 15px 0px;
      }
    }

    .menu-icon {
      display: none;
      @include breakpoints(mobile) {
        display: block;
        color: $mainColor;
        cursor: pointer;
      }
    }
  }
}
