@import "../../index.scss";
.about-container {
  background-color: rgba(245, 248, 253, 0.8117647059);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 50px 0px;
  text-align: center;
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    margin: 0 auto;
    @include breakpoints(mobile) {
      width: 80%;
      margin: 0 auto;
    }
    h2{
      font-size: 35px;
    }
    h3 {
      color: gray;
    }
    .cards-container {
      display: flex;
      gap: 15px;
      
      .data-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        width: 200px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
    }
  }
}
