@import "../../index.scss";

.edu-container {
  margin-top: 120px;
  background-color: rgba(245, 248, 253, 0.8117647059);

  .edu-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
    @include breakpoints(mobile) {
      width: 80%;
      margin: 0 auto;
    }
    h2 {
      font-size: 35px;
    }
  }
}
